<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label>New Password</label>
      <input type="password" class="form-control" formControlName="password">
      <div *ngIf="resetForm.get('password')?.invalid && resetForm.get('password')?.touched" class="text-danger">
        Password must be at least 8 characters long.
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
  
    <div *ngIf="message" class="alert alert-success mt-2">{{ message }}</div>
    <div *ngIf="error" class="alert alert-danger mt-2">{{ error }}</div>
  </form>
