<form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label>Email</label>
      <input type="email" class="form-control" formControlName="email">
      <div *ngIf="forgotForm.get('email')?.invalid && forgotForm.get('email')?.touched" class="text-danger">
        Valid email is required.
      </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="forgotForm.invalid">Send Reset Link</button>
  
    <div *ngIf="successMessage" class="alert alert-success mt-2">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="alert alert-danger mt-2">{{ errorMessage }}</div>
  </form>
  